---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>

	<Header/>
	<div class="w-full h-screen pt-15">
        <img class="inicio" src="/images/babymonster2.png" alt="Miembros del Grupo">
    </div>
    <section>
        <div>
            <div class="p-5 grid gap-4 grid-cols-2 justify-items-center items-center">
                <div class="w-full text-center">
                    <img class="gap-5 w-10/12 rounded-xl" src="/images/bm.jpg" alt="YG Entertainment Logo">
                </div>
                <div class="w-full text-center">
                    <h1 class="text-info-title">BABYMONSTER</h1>
                    <p class="md:text-base text-sm text-center pl-5">Es un grupo femenino de K-pop formado por YG Entertainment en 2023. El grupo está compuesto por siete talentosas integrantes originarias de Corea del Sur, Japón y Tailandia. Su nombre refleja la combinación de juventud y habilidades excepcionales, describiéndolas como "pequeños monstruos" llenos de talento. </p>
                </div>
            </div> 
        </div>
              
        <div class="p-5 grid gap-4 grid-cols-2 justify-items-center items-center">
            <img class="p-3 w-full rounded-xl" src="/images/training.jpg">
            <div class="w-full text-center">
                <h1 class="text-info-title">TRAINING</h1>
                <p class="md:text-base text-sm text-center pl-5">YG Entertainment comenzó a planificar un nuevo grupo femenino en 2018. Después de un riguroso proceso de selección y entrenamiento, BABYMONSTER fue presentado oficialmente en 2023. </p>
            </div>

        </div>        
    </section>

    <section>
        <div>
            <h2 class="text-miembros">Miembros</h2>
            <div class="grid">
                <div class="grid-item">
                    <img class="image-yg-logo" src="/images/chiquita_1.jpg" alt="Chiquita">
                    <div class="grid-item-content">
                        <h2>Chiquita</h2>
                        <p>Miembro tailandesa de 15 años, la más joven del grupo, conocida por su impresionante habilidad en el baile.</p>
                    </div>
                </div>
                <div class="grid-item">
                    <img class="image-yg-logo" src="/images/rora_1.jpg" alt="Rora">
                    <div class="grid-item-content">
                        <h2>Rora</h2>
                        <p>Miembro surcoreana de 15 años, exintegrante del grupo infantil U.SSO Girl, aporta dulzura y talento vocal.</p>
                    </div>
                </div>
                <div class="grid-item">
                    <img class="image-yg-logo" src="/images/rami_1.jpg" alt="Rora">
                    <div class="grid-item-content">
                        <h2>Rami</h2>
                        <p>Miembro Surcoreana de 16 años, comenzó como modelo infantil y destaca por su voz melodiosa.</p>
                    </div>
                </div>
                <div class="grid-item">
                    <img class="image-yg-logo" src="/images/ahyeon_1.jpg" alt="Rora">
                    <div class="grid-item-content">
                        <h2>Ahyeon</h2>
                        <p>Miembro Surcoreana de 16 años, versátil en canto, rap y baile, considerada el "rostro del grupo.</p>
                    </div>
                </div>
                <div class="grid-item">
                    <img class="image-yg-logo" src="/images/asa_1.jpg" alt="Rora">
                    <div class="grid-item-content">
                        <h2>Asa</h2>
                        <p>Miembro Japonesa de 17 años, talentosa rapera y bailarina, con habilidades en composición musical.</p>
                    </div>
                </div>
                <div class="grid-item">
                    <img class="image-yg-logo" src="/images/pharita_1.jpg" alt="Rora">
                    <div class="grid-item-content">
                        <h2>Pharita</h2>
                        <p>Miembro Tailandesa de 18 años, reconocida por su potente voz y experiencia en modelaje.</p>
                    </div>
                </div>
                <div class="grid-item">
                    <img class="image-yg-logo" src="/images/ruka_1.jpg" alt="Rora">
                    <div class="grid-item-content">
                        <h2>Ruka</h2>
                        <p>Miembro Japonesa de 22 años, destacada rapera y bailarina principal del grupo.</p>
                    </div>
                </div>
            </div>
        </div> 
    </section>

    <section>
        <h1 class="text-miembros">Proximos Lanzamientos</h1>
        <div class="grid">
            <div class="grid-item-audio">
                <center><img class="image-yg-logo" src="/images/album1.jpg" alt="Rora"></center>
                <div class="grid-item-content">
                    <h2>DRIP</h2>
                    <audio controls class="audio">
                        <source src="/images/ALBUM3mp3.mp3" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            
            <div class="grid-item-audio">
                <center><img class="image-yg-logo" src="/images/album2.jpg" alt="Rora"></center>
                <div class="grid-item-content">
                    <h2>FOREVER</h2>
                    <audio controls class="audio">
                        <source src="/images/ALBUM2.mp3" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <div class="grid-item-audio">
                <center><img class="image-yg-logo" src="/images/album3.jpg" alt="Rora"></center>
                <div class="grid-item-content">
                    <h2>MINI ALBUM</h2>
                    <audio controls class="audio">
                        <source src="/images/ALBUM1.mp3" type="audio/mpeg">
                    </audio>
                </div>
            </div>
        </div>
    </section>

	<section class="w-full py-20 h-screen">
		<div class="bg-pink-500 w-full flex flex-col">
			<h1 class="font-bold text-white text-4xl">Newsletter</h1>

		</div>
	</section>

    <section>
        <h1 class="text-miembros">Ultimo Lanzamiento</h1>
        <div class="grid">
            <center><iframe class="video-youtube" style="padding-bottom: 5rem;" width="560" height="315" src="https://www.youtube.com/embed/Gz_yRl6703c?si=QnzxuNdQXERsHw2L" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </section>
	

    <Footer/>
</Layout>
