---
---

<footer class="footer">
        <div class="grid">
            <div>
                <img style="padding-left: 30px;" class="footer-image" src="/images/logoyg.png" alt="Logo YG">
                <p><small  style="padding-left: 30px;" class="footer-copyright">All contents of YG Entertainment are protected by copyright.</small></p>
                <p><small style="padding-left: 30px;" class="footer-copyright">ⓒYG Entertainment ALL RIGHTS RESERVED.</small></p>
            </div>
            <div>
                <h3 class="footer-copyright">Informacion</h3>
                <ul class="list-footer">
                    <li class="footer-copyright-link">
                        Politica de Privacidad
                    </li>
                    <li class="footer-copyright-link">
                        Acerca de Nosotros
                    </li>
                    <li class="footer-copyright-link">
                        Contacto
                    </li>
                </ul>
                
            </div>
            <div>
                <h3 class="footer-copyright">Redes Sociales</h3>
                <ul class="list-footer">
                    <li class="footer-copyright">
                        <a href="https://www.facebook.com/BABYMONSTER.ygofficial" class="list-link">Facebook</a>
                    </li>
                    <li class="footer-copyright">
                        <a href="https://www.instagram.com/babymonster_ygofficial" class="list-link">Instagram</a>
                    </li>
                    <li class="footer-copyright">
                        <a href="https://www.youtube.com/@BABYMONSTER" class="list-link">Youtube</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>